@import url('https://fonts.googleapis.com/css?family=Exo|Roboto&display:100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700,');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black; 
}




/* --------------------------Headings */




    
  

/* -------------------Block-divider--------- */

.block-divider--orange {
    width:150px;
    height:5px;
    font-size: 5px;
    background-color: orange;
}


/* --------------testing another approach------------- */





.jumbotron { 
    
    padding:0 auto;
background-image: url("../images/gym.jpg");
background-size: cover;
}
.jumbotron h1 {
    width:33%;
}
.jumbotron p {
    font-family: 'Roboto',sans-serif;
    font-size: 20%;
    height:20%;
}

/*------------------------------ Divs-color------ */
    div h2 { 
        color:#5ee27c;
    }
div p { color: lemonchiffon;
}
div h5 {
    color:lemonchiffon;
}


/*--------------------- Containers */
.container1,div,h2,p{
    
    display:inline-block;


}
.container2,div,h2,p { 
    display:inline-block;
    

}




/* .centerText {
    margin: auto; 
    text-align: center;
} */
/* -------------------------------------------- */












  /* -----------------------------Buttons */

 
 





      /* ----------Divs---------------- */



   
    
  /*------------------------------------------ Navbar */

.collapse navbar-collapse {


}