@import url('https://fonts.googleapis.com/css?family=Exo|Roboto&display:100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700,');

body {
    font-family: 'Roboto', sans-serif;
}




/* --------------------------Headings */
.container {
position: relative;
border:2px;

}
.jumbotron { 
  
    background-color:transparent;
    }
.backImage {
background-image: url("../images/gym.jpg");
background-repeat: no-repeat;
background-position: top;
width: 100%;
height:100vh;
}

h1 { 
    font-family: 'Roboto', sans-serif;
    width:90%;
    position: absolute;
    font-size:20px;
    letter-spacing:1px;
    text-align:left;
    
    color:rgba(15, 15, 15, 0.918);
}
/* -------------------Block-divider--------- */

.block-divider--orange {
    width:150px;
    height:5px;
    font-size: 5px;
    background-color: orange;
}





  /* -----------------------------Buttons */

 
 





      /* ----------Divs---------------- */



   
    
  /*------------------------------------------ Navbar */

.collapse navbar-collapse {


}